.box {
	/*border: 5px solid tomato;*/
	width: 500px;
	border-radius: 10px;
	font-size: 40px;
	padding: 10px;
	font-family: inherit;
	background-color: snow;
	font-family: "VT";
}

/*:host {
	display: block;
	width:100px;
	height: 100px;
	outline: 1px solid green;
}*/