<h1>Feature Phone : Message App</h1>


<div class="phone">
	
	<fpe-main-menu *ngIf="currentView=='MAIN'"></fpe-main-menu>

	<fpe-message-list *ngIf="currentView=='INBOX' ||  currentView == 'OUTBOX'"></fpe-message-list>



	<fpe-compose *ngIf="currentView=='COMPOSE'"></fpe-compose>

	<p *ngIf="currentView=='CHOOSE_RECEIVER'">CHOOSE_RECEIVER</p>
	<fpe-choose-receiver *ngIf="currentView=='CHOOSE_RECEIVER'"></fpe-choose-receiver>

	<fpe-keypad></fpe-keypad>

</div>

<article>
<p>This is a feature phone emulator with an SMS app.
As such, the screen is not (clickable/touchable).
The Left & Right selection buttons have to be used to
select the respective actions in the screen footer.</p>

<p>While writing a new message, click you can switch from uppercase/lowercase/number mode using the * key.</p>

<p>Example: To type "Hello"</p>

<ol>
<li>Press * once to switch to uppercase</li>
<li>Press 4 twice</li>
<li>Press * twice to switch to lowercase</li>
<li>Press 3 twice</li>
<li>Press 5 thrice.</li>
<li>Wait ~ 1.5 seconds</li>
<li>Press 5 thrice.</li>
<li>Press 6 thrice.</li>
</ol>
</article>