
<div class="gridContainer">
	<button id="selectLeft" class="select" (click)="sendClick('selectLeft')"></button>

	<div class="center">
		<button class="arrow" id="up" (click)="sendClick('up')">&#x25B2;</button>
		<button class="arrow" id="right">&#x25BA;</button>
		<button class="arrow" id="down" (click)="sendClick('down')">&#x25BC;</button>
		<button class="arrow" id="left" (click)="sendClick('left')">&#x25C4;</button>
		<button id="main">&nbsp;</button>
	</div>
	<button id="selectRight" class="select" (click)="sendClick('selectRight')"></button>

</div>
