/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: "VT";
	src: url(VT323/VT323-Regular.ttf);
}

*:focus {
	outline: none;
}

h1 {
	font-family: Arial;
	color: #111;
}

article {
	font-family:  Tahoma;
	font-size: 19px;
	width: 530px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 30px;
	margin-top: 30px;
}

.phone {
	background-color: NavajoWhite;
}

.screen {
	font-family: VT;
	height: 230px;
	font-size: 24px;
	position: relative;
	border: 3px solid peachpuff;
	background-color: snow;
	margin-bottom: 20px;
}

footer {
	padding: 1px 5px;
	box-sizing: border-box;
	display: flex;
	background-color: DarkKhaki;
	color: white;
	justify-content: space-between;
	position: absolute;bottom: 0px;
	width: 100%;
}

.selected {
	outline: 1px solid gold;
	background-color: gold;
}

.phone {
	border: 5px solid blue;
	padding: 20px 50px;
	display: inline-block;
}

